{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="app">

        <div class="row">
            <div class="col-md-12 align-self-start">
                <h3>Status page</h3>
            </div>
        </div>

        <div class="row project-table">
            <div class="table-responsive status-table col-md-3">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th scope="col">
                            Project: <b>{{ project.title }}</b>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Number of groups: <b>{{ project.groups|length }} </b></th>
                    </tr>
                    <tr>
                        <th scope="row">Students per group: <b>{{ project.studentsPerGroup }} </b></th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col groups-title-col">
                <h2>Students</h2>
            </div>
        </div>

        <div class="row students-table-placeholder">
            <div class="col-md-12">
                <div class="table-responsive" id="students-table">
                    <table class="table table-dark table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Student</th>
                            <th scope="col">Group</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for group in project.groups %}
                                {% for student in group.students %}
                                    <tr>
                                        <td>{{ student.fullName }}</td>
                                        <td>{{ student.group.title }}</td>
                                        <td><a class="delete_button" href="{{ path('remove_student', {'id': student.id }) }}">Delete</a></td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <a href="{{ path('add_student', {'id': project.id}) }}" class="btn btn-outline-dark">Add new student</a>
            </div>
        </div>

        <div class="row">
            <div class="col groups-title-col">
                <h2>Groups</h2>
            </div>
        </div>


        <div class="row">
            {% for group in project.groups %}

            <div class="col-md-6 mb-4">
                <table class="table table-dark group-table group">
                    <thead>
                    <tr>
                        <th scope="col">{{ group.title }}</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for student in group.students %}
                                <tr>
                                    <td>
                                        <div>{{ student.fullName}}</div>
                                    </td>
                                </tr>
                        {% endfor %}

                        {% if project.studentsperGroup - group.students|length > 0 %}
                            {% for i in 1..(project.studentsperGroup - group.students|length) %}
                            <tr>
                                <th scope="row">
                                    <div class="dropdown">
                                        <a class="btn btn-secondary dropdown-toggle dropdown-button" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Dropdown link
                                        </a>

                                        <div class="dropdown-menu dropdown-button" aria-labelledby="dropdownMenuLink">
                                            {% for groupIterator in project.groups %}
                                                {%  for student in groupIterator.students %}
                                                    <a class="dropdown-item" href="{{ path('edit_student', {'student' : student.id, 'group' : group.id}) }}">{{ student.fullName }}</a>
                                                {% endfor %}
                                            {% endfor %}

                                        </div>
                                    </div>
                                </th>
                            </tr>
                        {% endfor %}
                    {% endif %}

                    </tbody>
                </table>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}