<nav class="navbar navbar-dark navbar-expand-md sticky-top bg-dark p-0">
    <a class="navbar-brand col-sm-3 col-md-1 mr-0"
       href="{{ path('index_page') }}">Technical Task</a>

    <div class="w-100 order-1 order-md-0">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">

            </li>
        </ul>
    </div>

    <div class="order-2 order-md-1">
        <ul class="navbar-nav px-3">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item text-nowrap">
                    <a class="nav-link"
                       href="#">{{ app.user.username }} </a>
                </li>
                <li class="nav-item text-nowrap">
                    <a class="nav-link"
                       href="{{ path('security_logout') }}">Sign out</a>
                </li>
            {% else %}
                <li class="nav-item text-nowrap">
                    <a class="nav-link"
                       href="{{ path('security_login') }}">Login</a>
                </li>
                <li class="nav-item text-nowrap">
                    <a class="nav-link"
                       href="{{ path('user_register') }}">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>